<div class="absolute right-0 top-0 z-10">
  <button
    (click)="toggleDropdown($event)"
    class="p-2 rounded-full hover:bg-gray-700 focus:outline-none"
    aria-label="Open dropdown"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 text-gray-400"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 12h.01M12 12h.01M18 12h.01"
      />
    </svg>
  </button>
</div>

<div
  *ngIf="dropdownOpen"
  class="absolute right-0 mt-2 w-48 bg-gray-800 rounded shadow-lg z-10"
>

  <button
    (click)="onFavoriteClick($event)"
    class="flex items-center gap-2 w-full px-4 py-2 hover:bg-gray-700 focus:outline-none"
  >
    <span class="flex-1">
      {{ favoriteId != null ? 'Remove' : 'Add to Favorites' }}
    </span>
    <svg
      *ngIf="favoriteId != null; else notFavorite"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 text-yellow-400"
      fill="currentColor"
      viewBox="0 0 20 20"
      stroke="none"
    >
      <path
        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.957a1 1 0 00.95.69h4.153c.969 0 1.371 1.24.588 1.81l-3.36 2.44a1 1 0 00-.364 1.118l1.286 3.957c.3.921-.755 1.688-1.54 1.118l-3.36-2.44a1 1 0 00-1.175 0l-3.36 2.44c-.784.57-1.838-.197-1.539-1.118l1.285-3.957a1 1 0 00-.364-1.118L2.03 9.384c-.783-.57-.38-1.81.588-1.81h4.153a1 1 0 00.95-.69l1.286-3.957z"
      />
    </svg>
    <ng-template #notFavorite>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 text-gray-400"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.957a1 1 0 00.95.69h4.153c.969 0 1.371 1.24.588 1.81l-3.36 2.44a1 1 0 00-.364 1.118l1.286 3.957c.3.921-.755 1.688-1.54 1.118l-3.36-2.44a1 1 0 00-1.175 0l-3.36 2.44c-.784.57-1.838-.197-1.539-1.118l1.285-3.957a1 1 0 00-.364-1.118L2.03 9.384c-.783-.57-.38-1.81.588-1.81h4.153a1 1 0 00.95-.69l1.286-3.957z"
        />
      </svg>
    </ng-template>
  </button>

  <!-- To Read Button -->
  <button
    (click)="onToReadClick($event)"
    class="flex items-center gap-2 w-full px-4 py-2 hover:bg-gray-700 focus:outline-none"
  >
    <span class="flex-1">
      {{ toReadId != null ? 'Remove from To Read' : 'Add to To Read' }}
    </span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5"
      [ngClass]="toReadId != null ? 'text-blue-400' : 'text-gray-400'"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
    </svg>
  </button>
</div>
